/Faces/obj
/Faces/Faces.csproj.user
/.vs
/Faces/bin
/Faces.Application/obj
/Faces.Application/bin
/Faces.Domain/bin
/Faces.Domain/obj
/Faces.FacePlusPlus/bin
/Faces.FacePlusPlus/obj
/Faces.Persistence/bin
/Faces.Persistence/obj
/Faces.Settings/bin
/Faces.Settings/obj
/Faces/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
/Faces/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
/Faces/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
/Faces/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
/Faces/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
/Faces/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
/Faces/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
/Faces/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
/Faces/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
/Faces/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
/Faces/wwwroot/lib/jquery/dist/jquery.min.map
