@model Faces.Domain.Entities.Image

@{
    ViewData["Title"] = "Details";
}

<style>
    img {
        width: 100%;
        margin-bottom: 3%;
    }

    .details {
        margin-top: 100px;
    }

    .btn-create {
        width: 40%;
        font-size: 30px;
    }
</style>

<div class="details text-center">
    <div>
        <img src="@Model.ImageUrl">
    </div>
    <div>
        <a class="btn btn-lg btn-create btn-primary" asp-action="EvaluationDetails" asp-route-id="@Model.Id">Detect Face!</a>
    </div>
</div>
