@model Faces.Domain.Entities.Image

@{
    ViewData["Title"] = "Details";
}

<style>
    img {
        width: 100%;
        margin-bottom: 3%;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img id ="myImg" src="@Model.ImageUrl">
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-primary" asp-action="EvaluationDetails" asp-route-id="@Model.Id">Detect Face!</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
