@{
    ViewData["Title"] = "Index";
}

<style>
    .get-started {
        margin-top: 40%;
    }

    .get-started-button {
        width: 40%;
        font-size: 50px;
    }
</style>

<div class="get-started text-center">
    <a class="get-started-button btn btn-primary" asp-action="Create">Get Started</a>
</div>

